body {
    font-family: Arial, Helvetica, sans-serif;
}

body > header, footer {
    background-color: dodgerblue;
    padding: 30px;
    color: white;
}

body > header > nav > ul {
    list-style: none;
    color: white;
}

body > header > nav > ul > li > a {
    color: white;
}

body > main {
    width: 80%;
    margin: auto;
}

.comment_form {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 5px;
}

.comment {
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgrey;

}

#comment_3 {
    border-bottom: none;
}

body > footer {
    padding: 10px;
    text-align: center;
}

/* .button {
    float: right;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgrey;
} */